# Email Configuration
EMAIL_USE_TLS=True
EMAIL_HOST_USER=seu_email@gmail.com
EMAIL_HOST_PASSWORD=sua_app_password
DEFAULT_FROM_EMAIL=seu_email@gmail.com

# Django Settings
SECRET_KEY=sua_secret_key_aqui
DEBUG=True
